---
layout: archive
title: " "
permalink: /portfolio/
author_profile: true
header:
  overlay_image: "california.jpg"
  overlay_filter: "0.4"
---

<!-- CSS específico do Minimal Mistakes para forçar a altura máxima do cabeçalho -->
<style>
  .page__hero--overlay {
    padding: 7em 0 !important; /* 10em ou 12em se quiser ainda mais alto */
  }
</style>

<!-- Title goes here to align with image-->
<h1>Research Interests</h1>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}




<div style="font-size: 13px;">
All images in this page are by Maria Sibylla Merian
</div>
