---
layout: archive
title: " "
permalink: /teaching/
author_profile: true
header:
  overlay_image: "board3a.jpeg"
  overlay_filter: "0.5"
---

<!-- CSS específico do Minimal Mistakes para forçar a altura máxima do cabeçalho -->
<style>
  .page__hero--overlay {
    padding: 7em 0 !important; /* 10em ou 12em se quiser ainda mais alto */
  }
</style>


<!-- Title goes here to align with image-->
<h1>Teaching</h1>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
